<html>
  <head>
    <title>Puppet test - New feature</title>
  </head>
  <body>
    <h1>Hello World!</h1>
	  <p>This server's name is: <%= @hostname %></p>
      <p>This server's IP address is: <%= @ipaddress %></p>
  </body>
</html>

